@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: gainsboro;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
    align-items: center;
}
#excuse{
    font-size: 50px;
    text-align: center;
    align-items: center;
}